
# Virtual Environment
ai-control/
venv/
env/

# Python
__pycache__/
*.pyc

# Logs
*.log
ollama.log

# Dependencies / Large Models
OmniParser/

# Keys / Secrets
config.json
.env

# Temporary artifacts
*.png
VNC-screens/
